@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 70% 8%;
    --foreground: 220 20% 90%;
    --card: 240 64% 17%;
    --card-foreground: 220 20% 90%;
    --popover: 240 70% 8%;
    --popover-foreground: 220 20% 90%;
    --primary: 43 90% 60%;
    --primary-foreground: 43 90% 10%;
    --secondary: 240 30% 20%;
    --secondary-foreground: 220 20% 90%;
    --muted: 240 30% 20%;
    --muted-foreground: 240 5% 65%;
    --accent: 220 83% 70%;
    --accent-foreground: 240 70% 8%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 220 20% 90%;
    --border: 240 30% 25%;
    --input: 240 30% 25%;
    --ring: 43 90% 60%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .transform-style-3d {
    transform-style: preserve-3d;
  }
}
